<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKLoidTCNeLIrUvj2_E-vtRxTgmrr0g2I</string>
	<key>GCM_SENDER_ID</key>
	<string>207081824530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.momentevents.moment</string>
	<key>PROJECT_ID</key>
	<string>moment-3bcc2</string>
	<key>STORAGE_BUCKET</key>
	<string>moment-3bcc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207081824530:ios:1bdbfccc09cea5f3f8d3cb</string>
</dict>
</plist>